<!-- x-lllustrations showcase. Include in styleguide/components.html -->
<section class="sg-section" id="comp-lllustrations" data-nav-target>
    <h2 class="sg-section__title">lllustrations</h2>
    <p class="sg-section__desc">
        Чтобы использовать Mark, воспользуйтесь приведенным ниже кодом.
    </p>

    <div class="sg-matrix">
        <div>
            <div class="lllustrations__layout">
                <div class="lllustrations__title">Coat of arms</div>
            </div>
            

            <div class="sg-matrix__row">
                <x-lllustrations bg-image="../../assets/images/coat-of-arms.webp" alt="lllustrations" class="lllustrations_body"></x-lllustrations>
            </div>
        </div>
    </div>

    <sg-snippet title="x-lllustrations">
        <x-lllustrations image-url="../../assets/images/coat-of-arms.webp" alt="lllustrations" size="sm"></x-lllustrations>
    </sg-snippet>
</section>