<script props>
  /*
   * x-advantages-submit-card
   *
   * Advantages submit card.
   *
   */
  const rawLayer = String(props.layer || '1')
  const layer = rawLayer.startsWith('layer') ? rawLayer : ('layer' + rawLayer)

  module.exports = {
  }
</script>

<article class="advantages-submit-card">
  <div class="advantages-submit-card__content">
    Оставить заявку и получить консультацию
  </div>
  <div class="advantages-submit-card__icon">
    <x-button class="btn--light-black" icon="plus" pill="" icon-only="" aria-label="Request Submit"></x-button>
  </div>
</article>