<!-- x-button-circle showcase. Include in styleguide/components.html -->

<section class="sg-section" id="comp-button-circle" data-nav-target>
    <h2 class="sg-section__title">Circle Button</h2>
    <p class="sg-section__desc">
        Размеры: <code>mini</code> (height:34), <code>medium</code> (heieght:46).
        Цвета: <code>tr-grey</code>, <code>tr-white</code>, <code>white</code>, <code>tr-grey-white</code>, <code>tr-blue</code>.
    </p>

    <div class="sg-matrix">
        <div class="sg-matrix__head">
            <span></span>
            <span class="sg-state-label">Default</span>
            <span class="sg-state-label">Hover</span>
            <span class="sg-state-label">Disabled</span>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label">Tr Grey</span>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="mini"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="mini" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="mini"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle>
            </div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label"></span>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="medium"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="medium" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey" size="medium"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle>
            </div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label">Tr white</span>
            <div class="sg-cell sg-cell--on-dark"><x-button-circle bg-color="tr-white" size="mini"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell sg-cell--on-dark" ><x-button-circle bg-color="tr-white" size="mini" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell sg-cell--on-dark"><x-button-circle bg-color="tr-white" size="mini"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label"></span>
            <div class="sg-cell sg-cell--on-dark"><x-button-circle bg-color="tr-white" size="medium"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell sg-cell--on-dark"><x-button-circle bg-color="tr-white" size="medium" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell sg-cell--on-dark"><x-button-circle bg-color="tr-white" size="medium"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label">White</span>
            <div class="sg-cell"><x-button-circle bg-color="white" size="medium"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="white" size="medium" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="white" size="medium"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label">Tr Grey-white</span>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="mini"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="mini" class="is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="mini"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label"></span>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="medium"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="medium"
                    class="btn-circle btn-circle--medium btn-circle--grey-white is-hover" icon="chevron-left"
                ></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-grey-white" size="medium"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label">Tr blue</span>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="mini" class="btn-circle btn-circle--tr-blue" 
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="mini" class="btn-circle btn-circle--tr-blue is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="mini" class="btn-circle btn-circle--tr-blue"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>

        <div class="sg-matrix__row">
            <span class="sg-variant-label"></span>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="medium" class="btn-circle btn-circle--tr-blue"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="medium" class="btn-circle btn-circle--tr-blue is-hover"
                    icon="chevron-left"></x-button-circle></div>
            <div class="sg-cell"><x-button-circle bg-color="tr-blue" size="medium" class="btn-circle btn-circle--tr-blue"
                    icon="chevron-left" class="is-hover" disabled></x-button-circle></div>
        </div>
    </div>

    <sg-snippet title="x-button-circle">
        <x-button-circle size="mini" bg-color="tr-blue" icon="chevron-left"></x-button-circle>
        <x-button-circle size="mini" bg-color="tr-blue" icon="chevron-right"></x-button-circle>
    </sg-snippet>
</section>