<script props>
  /*
   * x-button-circle
   *
   * Props:
   *   size — mini | medium 
   *   bgColor — tr-grey | tr-white | white | tr-grey-white | white
   *   icon — sprite id without "icon-" prefix
   *
   */
  const size = props.size || 'mini'
  const bgColor = props['bg-color'] || 'tr-white'
  const icon = props.icon || ''

  module.exports = {
    icon, size, bgColor,
    cls: [
      'btn-circle',
      'btn-circle--' + size,
      'btn-circle__bgColor--' + bgColor,
      'btn-circle__icon--' + size,
    ].filter(Boolean).join(' '),
  }
</script>

  <button class="{{ cls }}">
    <if condition="icon && size === 'mini'"><svg aria-hidden="true"><use href="#icon-{{ icon }}"/></svg></if>
    <if condition="icon && size === 'medium'"><span maria-hidden="true"><svg><use href="#icon-{{ icon }}"/></svg></span></if>
  </button>



