<!-- x-button-nav showcase. Include in styleguide/components.html -->
<section class="sg-section" id="comp-button-nav" data-nav-target>
  <h2 class="sg-section__title">Navication Button</h2>
  <p class="sg-section__desc">
    color: <code>black</code>, <code>white</code>.
    size: <code>md</code>.
    variant:  <code>grey</code>, <code>tr-white</code>.
  </p>

  <div class="sg-matrix">
    <div class="sg-matrix__head">
      <span></span>
      <span class="sg-state-label">Default</span>
      <span class="sg-state-label">Hover</span>
      <span class="sg-state-label">Disabled</span>
    </div>

  
    <div class="sg-matrix__row">
      <span class="sg-variant-label">Black</span>
      <div class="sg-cell"><x-button-nav color="black">Смотреть</x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" class="is-hover">Смотреть</x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" disabled>Смотреть</x-button-nav></div>
    </div>

    <div class="sg-matrix__row">
      <span class="sg-variant-label"></span>
      <div class="sg-cell"><x-button-nav color="black">наши пансионаты</x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" class="is-hover">наши пансионаты</x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" disabled>наши пансионаты</x-button-nav></div>
    </div>
    
    <div class="sg-matrix__row">
      <span class="sg-variant-label"></span>
      <div class="sg-cell"><x-button-nav color="black" variant="grey" icon="chevron-down"></x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" variant="grey" icon="chevron-down" class="is-hover"></x-button-nav></div>
      <div class="sg-cell"><x-button-nav color="black" variant="grey" icon="chevron-down" disabled></x-button-nav></div>
    </div>

    <div class="sg-matrix__row">
      <span class="sg-variant-label">White</span>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white">Смотреть</x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" class="is-hover">Смотреть</x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" disabled>Смотреть</x-button-nav></div>
    </div>

    <div class="sg-matrix__row">
      <span class="sg-variant-label"></span>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white">наши пансионаты</x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" class="is-hover">наши пансионаты</x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" disabled>наши пансионаты</x-button-nav></div>
    </div>
    
    <div class="sg-matrix__row">
      <span class="sg-variant-label"></span>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" variant="tr-white" icon="chevron-down"></x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" variant="tr-white" icon="chevron-down" class="is-hover"></x-button-nav></div>
      <div class="sg-cell sg-cell--on-dark"><x-button-nav color="white" variant="tr-white" icon="chevron-down" disabled></x-button-nav></div>
    </div>
  </div>

  <sg-snippet title="x-button-nav">
    <!-- word -->
    <x-button-nav color="black">Смотреть</x-button-nav>

    <!-- icon -->
    <x-button-nav color="white" variant="tr-white"></x-button-nav>
  </sg-snippet>
</section>