<script props>
  /*
   * x-button-nav
   *
   * Navication Button with optional 16px icon.
   *
   * Props:
   *   color — white | black
   *   icon — sprite id without "icon-" prefix
   *   bgColor — grey | white
   *
   */
  const color = props.color || ''
  const icon = props.icon || ''
  const bgColor = props['bg-color'] || 'tr-white'

  module.exports = {
    icon, color, bgColor,
    cls: [
      'button-nav',
      'button-nav--' + color,
      'button-nav__bgColor--' + bgColor,
    ].filter(Boolean).join(' '),
  }
</script>

  <button class="{{ cls }}">
    <if condition="icon"><svg class="button-nav__icon" aria-hidden="true"><use href="#icon-{{ icon }}"/></svg></if>
    <span><yield></yield></span>
  </button>
