<script props>
  /*
   * x-button-nav
   *
   * Navication Button with optional 16px icon.
   *
   * Props:
   *   color — white | black
   *   size — md  
   *   icon — sprite id without "icon-" prefix
   *   variant — grey | white
   *
   */
  const color = props.color || ''
  const size = props.size || 'md'
  const icon = props.icon || ''
  const variant = props.variant || ''

  module.exports = {
    icon,
    cls: [
      'button-nav',
      'button-nav--' + color,
      'button-nav--' + variant,
    ].filter(Boolean).join(' '),
  }
</script>

  <button class="{{ cls }}">
    <if condition="icon"><svg class="button-nav__icon" aria-hidden="true"><use href="#icon-{{ icon }}"/></svg></if>
    <span class="button-nav__label"><yield></yield></span>
  </button>
