<!-- x-illustrations showcase. Include in styleguide/components.html -->
<section class="sg-section" id="comp-illustrations" data-nav-target>
    <h2 class="sg-section__title">illustrations</h2>
    <p class="sg-section__desc">
        Чтобы использовать Mark, воспользуйтесь приведенным ниже кодом.
    </p>

    <div class="sg-matrix">
        <div>
            <div class="illustrations__layout">
                <div class="illustrations__title">Coat of arms</div>
            </div>
            

            <div class="sg-matrix__row">
                <x-illustrations bg-image="../../assets/images/coat-of-arms.webp" alt="illustrations" class="illustrations_body"></x-illustrations>
            </div>
        </div>
    </div>

    <sg-snippet title="x-illustrations">
        <x-illustrations image-url="../../assets/images/coat-of-arms.webp" alt="illustrations" size="sm"></x-illustrations>
    </sg-snippet>
</section>