@use '../../../styles/tokens' as *;

.promotion-card-display {
    display: flex;
    gap:20px;
}

.promo-sg-matrix {
    overflow-x: auto;
    display: grid;
    gap: $space-xs;
    align-items: stretch;
    padding: $space-20;
    border-radius: $radius-md;
    background-color: #f0f1f5;
}