<!-- x-promo-card showcase. Include in styleguide/components.html -->
<section class="sg-section" id="comp-promo-card" data-nav-target>
  <h2 class="sg-section__title">Promotion Card</h2>
  <p class="sg-section__desc">
    Карточка акции. Композиция: <code>x-promo-main-card</code> + <code>x-promo-card</code>.
  </p>
  <p class="sg-state-label">
    Карточка — это основные визуальные элементы. Функции пагинации/предыдущей/следующей страницы находятся в
    <code>x-promo-slider</code>.
  </p>

  <div class="promo-sg-matrix sg-matrix--narrow">
    <div class="sg-matrix__row">
      <div class="promo-card-display">
        <x-promo-main-card tag-color="red" tag-icon="fire" img-url="../../assets/images/promo-card-1.webp" alt="promo-card-1.webp">
          <fill-tag>Скидка 20%</fill-tag>
          <fill-title>Зимний чек-ап в «Опеке» по сниженной цене 119 990 ₽</fill-title>
          <fill-desc>14 дней восстановления здоровья за 119 990 ₽. Анализы, терапевт и проживание включены!</fill-desc>
          <fill-link>Узнать больше</fill-link>
        </x-promo-main-card>
        <x-promo-card tag-color="red" tag-icon="fire" img-url="../../assets/images/promo-card-1.webp"  alt="promo-card-1.webp">
          <fill-tag>Скидка 20%</fill-tag>
          <fill-title>Зимний чек-ап в «Опеке» по сниженной цене 119 990 ₽</fill-title>
          <fill-desc>14 дней восстановления здоровья за 119 990 ₽. Анализы, терапевт и проживание включены!</fill-desc>
          <fill-link>Узнать больше</fill-link>
        </x-promo-card>
      </div>
     
    </div>
  </div>

  <sg-snippet title="x-promo-card">
    <x-promo-main-card tag-color="red" tag-icon="fire" img-url="../../assets/images/promo-card-1.webp"  alt="promo-card-1.webp">
      <fill-tag>Скидка 20%</fill-tag>
      <fill-title>Зимний чек-ап в «Опеке» по сниженной цене 119 990 ₽</fill-title>
      <fill-desc>14 дней восстановления здоровья за 119 990 ₽. Анализы, терапевт и проживание включены!</fill-desc>
      <fill-link>Узнать больше</fill-link>
    </x-promo-main-card>
    <x-promo-card tag-color="red" tag-icon="fire" img-url="../../assets/images/promo-card-1.webp"  alt="promo-card-1.webp">
      <fill-tag>Скидка 20%</fill-tag>
      <fill-title>Зимний чек-ап в «Опеке» по сниженной цене 119 990 ₽</fill-title>
      <fill-desc>14 дней восстановления здоровья за 119 990 ₽. Анализы, терапевт и проживание включены!</fill-desc>
      <fill-link>Узнать больше</fill-link>
    </x-promo-card>
  </sg-snippet>
</section>