@use '../../../styles/tokens' as *;
/**
 * Rate (Figma: Rate )
 *
 * Count: --count : count >= 1 (default : 1)
 */
.rate{
    display: flex;
}

.rate__color{
    color:$rate-full;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.rate__empty{
    color:$rate-empty;
}


