<!-- x-button-social showcase. Include in styleguide/components.html -->

<section class="sg-section-social" id="comp-button-mini" data-nav-target>
  <h2 class="sg-section__title">Social Button</h2>
  <p class="sg-section__desc">
    Default size. Цвет: <code>grey</code>, <code>white.</code>
    <code>Значки:</code>, <code>vk</code>, <code>ok</code>...
  </p>
  <div class="sg-matrix">
    <div class="sg-matrix__head">
      <span></span>
      <span class="sg-state-label">Default</span>
      <span class="sg-state-label">Hover</span>
      <span class="sg-state-label">Disabled</span>
    </div>
    <div class="sg-matrix__row">
      <span class="sg-variant-label">Grey</span>
      <div class="sg-cell"><x-button-social  color="grey" icon="vk" icon-only aria-label="Поиск"></x-button-social></div>
      <div class="sg-cell"><x-button-social color="grey" icon="vk" icon-only class="is-hover" aria-label="Поиск"></x-button-social></div>
      <div class="sg-cell"><button type="button" class="btn-social btn-social--mini btn-social--tr-grey btn-social--icon-only" disabled aria-label="Поиск"><svg class="btn__icon" aria-hidden="true"><use href="#icon-vk" /></svg></button></div>
    </div>

    <div class="sg-matrix__row">
      <span class="sg-variant-label">White</span>
      <div class="sg-cell"><x-button-social  color="white" icon="vk" icon-only aria-label="Поиск"></x-button-social></div>
      <div class="sg-cell"><x-button-social  color="white" icon="vk" icon-only class="is-hover" aria-label="Поиск"></x-button-social></div>
      <div class="sg-cell"><button type="button" color="white" class="btn-social btn-social--mini btn-social--white btn-social--icon-only" disabled aria-label="Поиск"><svg class="btn__icon" aria-hidden="true"><use href="#icon-vk" /></svg></button></div>
    </div>
  </div>
  <sg-snippet title="x-button">
    <x-button-social  color="grey" icon="vk" ></x-button-social>
  </sg-snippet>
</section>