<script props>
  /*
   * x-avatar-btn
   *
   * Props (shell):
   *   size — avatar button size (default: red)
   *   color — avatar button background (default: tr-white)
   *   src_mobile — img url for mobile(default: '')
   *   src_desktop — img url for desktop(default: '')\
   *   src_main — main img url(default: '')
   *   description — description for img (default: '')
   */
  
  const size = props.size || 'sm'
  const color = props.color || 'tr-white'
  const src_mobile = props.src_mobile || ''
  const src_desktop = props.src_desktop || ''
  const src_main = props.src_main || ''
  const description = props.description || ''

  module.exports = {
    cls: [
      'avatar-btn',
      'avatar-btn--' + size,
      'avatar-btn--' + color,
    ].join(' '), 
  }

</script>

<div class="{{ cls }}">
  <a>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="{{ src_mobile }}"
        type="image/webp">
      <source
        srcset="{{ src_desktop }}"
        type="image/webp">
      <img src="{{ src_main }}" alt="{{ description }}" loading="lazy">
    </picture>
  </a>
</div>