
<script props>
  /*
   * x-avatar-btn
   *
   * Props (shell):
   *   size — avatar button size (default: sm)
   *   bg-color — avatar button background (default: tr-white)
   *   image-url — image url(default: '')
   *   alt — alt for img (default: '')
   *   active - active button(default: '')
   */
  
  const size = props.size || 'sm'
  const bgColor = props['bg-color'] || 'tr-white'
  const imageUrl = props['image-url'] || ''
  const alt = props.alt || 'no image'
  const active = props.active || ''

  module.exports = {
    size, bgColor, imageUrl, alt,
    cls: [
      'avatar-btn',
      'avatar-btn--' + bgColor,
    ].join(' '), 
    cls_avatar: [
      'avatar-img',
      'avatar-img--' + size,
      'avatar-img--' + active, 
    ].join(' '),
  }

</script>

<div class="{{ cls }}" aria-label="{{ alt }}" role="button" data-avatar-btn>
    <if condition="imageUrl">
      <img src="{{ imageUrl }}" alt="{{ alt }}" loading="lazy" class="{{ cls_avatar }}" aria-pressed="false"  data-avatar-img>
    </if>
</div>
