@use '../../../styles/tokens' as *;

/**
 * .room-card — Room Card (Figma).
 *
 * Composition: .title + description + price + unit.
 *
 * Desktop: 1536 ~ 768
 * Mobile:  767 ~ 393
 */

.room-card {
    padding: 32px;
    border-radius: 32px;
    background: $color-bg-card;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: clamp(320px, 45vw ,480px);
    height: 614px;

    @include mobile {
        padding: 32px;
        border-radius: 32px;
        background: $color-bg-card;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 320px;
        height: 454px;
    }
}

.room-card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.room-card__seats {
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 999px;
    background: $color-bg-white;
    width: fit-content;
}

.room-card__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.room-card__title {
    font-size: 24px;
    font-weight: 500;
    color: $color-primary;
    line-height: 26px;
}

.room-card__description {
    font-size: 16px;
    color: $color-secondary;
    line-height: 20px;
}

/* IMAGE STACK */

.room-card__images {
    position: relative;
    height: clamp(180px, 10vw, 240px);

    @include mobile {
        position: relative;
        height: 180px;
    }
}

.room-card__image {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}

.room-card__image--front {
    width: clamp(182px, 10vw, 240px);
    height: clamp(182px, 10vw, 240px);
    z-index: 3;

    @include mobile {
        width: 182px;
        height: 182px;
        z-index: 3;
    }
}

.room-card__image--middle {
    width: clamp(162px, 10vw, 220px);
    height: clamp(162px, 10vw, 220px);
    left: 47.508px;
    top: 10px;
    opacity: 0.7;
    z-index: 2;
    filter: blur(1px);

    @include mobile {
        width: 162px;
        height: 162px;
        left: 37.508px;
        top: 10px;
        opacity: 0.7;
        z-index: 2;
        filter: blur(1px);
    }
}

.room-card__image--back {
    width: clamp(142px, 2vw, 200px);
    height: clamp(142px, 2vw, 200px);
    left: 90px;
    top: 20px;
    opacity: 0.4;
    z-index: 1;
    filter: blur(2px);

    @include mobile {
        width: 142px;
        height: 142px;
        left: 73px;
        top: 20px;
        opacity: 0.4;
        z-index: 1;
        filter: blur(2px);
    }
}

.room-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-card__price {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.room-card__price-value {
    font-size: clamp(20px, 10vw, 32px);
    font-weight: 500;
    color: $color-primary;

    @include mobile {
        font-size: 20px;
    }
}

.room-card__price-unit {
    font-size: 14px;
    color: $color-secondary;
}


.room-card__button {
    width: 53px;
    height: 46px;
    border-radius: 50%;
    background: $color-button-bg;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include mobile {
        width: 40px;
        height: 34px;
        border-radius: 50%;
        background: $color-button-bg;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* número de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icon-plus {
    width: clamp(16px, 10vw, 18px);
    height: 18px;

    @include mobile {
        width: 16px;
        height: 16px;
    }
}