@use '../../../styles/tokens' as *;

$color-bg-card: rgb(34, 41, 79, 0.03);
$color-bg-white: #fff;

$color-primary: #22294f;
$color-secondary: rgb(34, 41, 79, 0.6);

$color-accent: #2674d9;

$color-button-bg: rgb(34, 41, 79, 0.05);

$color-border-icon: #22294f;

.card-sm {
    padding: 32px;
    border-radius: 32px;
    background: $color-bg-card;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 320px;
    height: 454px;
}

.card-md {
    padding: 32px;
    border-radius: 32px;
    background: $color-bg-card;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 480px;
    height: 614px;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__seats {
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 999px;
    background: $color-bg-white;
    width: fit-content;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__title {
    font-size: 24px;
    font-weight: 500;
    color: $color-primary;
    line-height: 26px;
}

.card__description {
    font-size: 16px;
    color: $color-secondary;
    line-height: 20px;
}

/* IMAGE STACK */
.card__images-sm {
    position: relative;
    height: 180px;
}

.card__images-md {
    position: relative;
    height: 240px;
}

.card__image {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}

.card__image--front-sm {
    width: 182px;
    height: 182px;
    z-index: 3;
}

.card__image--front-md {
    width: 240px;
    height: 240px;
    z-index: 3;
}

.card__image--middle-sm {
    width: 162px;
    height: 162px;
    left: 20px;
    top: 10px;
    opacity: 0.7;
    z-index: 2;
    filter: blur(1px);
}

.card__image--middle-md {
    width: 220px;
    height: 220px;
    left: 20px;
    top: 10px;
    opacity: 0.7;
    z-index: 2;
    filter: blur(1px);
}

.card__image--back-sm {
    width: 142px;
    height: 142px;
    left: 40px;
    top: 20px;
    opacity: 0.4;
    z-index: 1;
    filter: blur(2px);
}

.card__image--back-md {
    width: 200px;
    height: 200px;
    left: 40px;
    top: 20px;
    opacity: 0.4;
    z-index: 1;
    filter: blur(2px);
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.card__price-value {
    font-size: 28px;
    font-weight: 500;
    color: $color-primary;
}

.card__price-unit {
    font-size: 14px;
    color: $color-secondary;
}

.card__button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: $color-button-bg;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card__button-icon {
    width: 12px;
    height: 12px;
    border: 2px solid $color-border-icon;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* número de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icon-plus__size {
    width: 16px;
    height: 16px;
}